img {
    width: 400px;
}

body {
    background-color: plum;
}

#pictures {
    display: flex;
    flex-wrap: wrap;
}

#pictures li {
    list-style: none;
    display: inline-block;
    width: 400px;
    border: 1px solid black;
    margin-right: 5px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

h2, p {
    text-align: center;
}
